@use '../../../styles.scss' as *;
@use 'sass:color';


.footer {
  background-color: #020617;
  color: rgba($color-white, 0.9);
  padding: $space-4 $space-0;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    padding-inline: 4rem;

    @include respond(tablet) {
      flex-direction: row;
    }

    .block {
      width: fit-content;
    }
  }

  &__brand {
    font-size: 0.9rem;
  }

  &__name {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }

  &__copy {
    font-size: 0.8rem;
    color: rgba($color-white, 0.7);
  }

  &__heading {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: $space-1;
  }

  &__contact {
    font-size: 0.9rem;

    a {
      color: rgba($color-white, 0.95);
      text-decoration: underline;
      text-underline-offset: 2px;

      &:hover,
      &:focus-visible {
        color: $color-accent;
      }
    }
  }

  &__social-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: $space-1;


    a {
      font-size: 0.9rem;
      color: rgba($color-white, 0.9);
      text-decoration: none;
      padding: 0.25rem 0.6rem;
      border-radius: 999px;
      border: 1px solid rgba($color-white, 0.18);
      transition:
        background-color $transition-fast,
        color $transition-fast,
        border-color $transition-fast,
        transform $transition-fast;

      &:hover,
      &:focus-visible {
        background-color: $color-primary;
        color: $color-bg-dark;
        border-color: transparent;
        transform: translateY(-1px);
      }
    }
  }

  .social-heading {
      margin-bottom: 12px !important;
  }
}